.outside.rad-mode {
  background: #eef2f6;
}

.outside.rad-mode .auth-card {
  border-radius: 3px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 2px 8px 0 rgba(0, 0, 0, .075);
}

.outside.rad-mode .auth-card:focus-within,
.outside.rad-mode .auth-card:hover {
  transform: translateY(0);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 2px 8px 0 rgba(0, 0, 0, .075);
}

.outside.rad-mode .input-text,
.outside.rad-mode input.slug:focus,
.outside.rad-mode input.slug:hover {
  border-radius: 3px
}

.outside.rad-mode .btn-dropdown-primary,
.outside.rad-mode .btn-primary {
  text-shadow: none;
  color: #fff;
  color: rgba(255, 255, 255, 1);
  border: 1px solid #257fcc;
  border-radius: 3px;
  background: linear-gradient(180deg, #2e9fff, #298fe6) !important;
  box-shadow: inset 0 1px 0 0 #43a9ff, 0 1px 0 0 rgba(25, 30, 35, .05), 0 0 0 0 transparent !important;
}

.outside.rad-mode .btn-dropdown-primary:hover,
.outside.rad-mode .btn-primary:hover {
  background: linear-gradient(180deg, #298fe6, #257fcc) !important;
  border: 1px solid #206fb3;
  color: #fff;
  box-shadow: inset 0 1px 0 0 #2e9fff, 0 1px 0 0 rgba(25, 30, 35, .05), 0 0 0 0 transparent !important;
}

.outside.rad-mode .forgot-password-link {
  color: #1c2e36;
  text-shadow: none;
}
